@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
font-family: 'Josefin Sans', sans-serif;

#search {
  width: 100%;
}

#input {
  line-height: 2;
}

.centered{
  max-height: 50%;
  
}

.test{
    -moz-appearance: none;
    font-size: 1.1em;
    font-weight: normal;
    display: block;
    width: 100%;
    background: none repeat scroll 0% 0% transparent;
    outline: medium none;
    border: medium none;
    padding: 0px;
    height: 2.54545em;
    z-index: 1;
    position: relative;
    top: -1px;
	border-radius: 2px 2px 2px 2px;
    display: block;
    position: relative;
    height: 2.8em;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 205, 200);
    padding-left: 0.75em;
    padding-right: 0.75em;
}


a:hover {
    background-color: #d6abb1;
} 

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 90%;
}

html{
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #160f1c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#160f1c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%,#160f1c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%,#160f1c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%,#160f1c 100%); /* IE10+ */
  background: linear-gradient(to bottom, #1e5799 0%,#160f1c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#160f1c',GradientType=0 ); /* IE6-9 */
  
  font-family:Josefin Sans;
}

html {
  height: 100%;
}

a{
  color:black;
}

h1 {
  color: #BBBD82;
  font-size:40px;
}
.blue{
  color: #0798AB;
  font-size:60px;
}

.button {
  margin-top: 1em;
  -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  box-shadow:inset 0px 1px 0px 0px #bee2f9;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
  background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
  background-color:#63b8ee;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #3866a3;
  display:inline-block;
  color:#14396a;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:116px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #7cacde;
}
.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
  background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
  background-color:#468ccf;
}
.button:active {
  position:relative;
  top:1px;
}
